# VCS
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/

# Envs
.venv/
venv/
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build / artifacts
dist/
build/
*.log

# Data / local dev folders
dev/
data/
